                    <div class = "footer">
                        <div class = "footer__inner">
                            <div class = "left_footer">
                                <a href=""> <i class="fa fa-github" aria-hidden="true"></i> </a>
                                <a href=""> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
                                <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                                <a href=""> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
                            </div>
                            <div class = "right_footer">
                                <i class="fa fa-copyright" aria-hidden="true"></i>&nbsp; 2016 CMLPR
                            </div>            
                        </div>
                    </div>