                    <!--
                    <script>
                        $(function() {
                            $('.nav li a').click(function(e) {
                            $(".nav li").find(".active").removeClass("active");
                            $(this).parent().addClass("active");
                            e.preventDefault();    
                            });
                        });
                    </script>
                    -->

                    <div class="navbar">
                        <div class="inner">
                            <nav id="drawer" class="nav">
                                <ul class="nav__list">
                                    <li class="nav__item" id = "home"><a href="/">Home</a></li>
                                    <li class="nav__item" id = "about"><a href="/publications.html">About</a></li>
                                    <li class="nav__item" id = "publications"><a href="/publications.html">Publications</a></li>
                                    <li class="nav__item" id = "blog"><a href="/blog/">Blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
