    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content ="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Damion|Lato" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/default.css">
        <link rel="stylesheet" href="/assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css">
    {% if page.mathjx %}
        <!-- MathJax -->
        <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
    {% if page.hlighters %}
        {% for stylesheet in page.hlighters %}
            <link rel="stylesheet" href="/assets/css/pygments/{{ stylesheet }}.css" media="screen" type="text/css">
        {% endfor %}
    {% endif %}
        <script type="text/javascript" src="/assets/js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <title>{{ page.title }}</title>
        {% feed_meta %}
        {% seo %}
    </head>