<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/pygments/htmlcode.css">
    <!-- MathJax -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <title>{{ page.title }}</title>
    {% seo %}
</head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/second">Second</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content}}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:cmlpr@cmlpr.com">email</a></li>
                <li><a href="https://github.com/cmlpr">github.com/cmlpr</a></li>
            </ul>
        </footer>



    </body>
</html>