<!DOCTYPE html>
<html lang="en">

    {% include default_head.html %}

    <body>
        
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="container">

{% include default_header.html %}

{% include navigation.html %}

{{ content}}
                    
{% include default_footer.html %}

                </div>
            </div>
        </div><!-- /.site-wrapper -->

{% include drawer_script.html %}

{% if page.scripts %}
    {% for script in page.scripts %}
        {% include {{ script | append:'.html' }} %}
    {% endfor %}
{% endif %}

    </body>

</html>