<!DOCTYPE html>
<html lang="en">

    {% include post_head.html %}

    <body>
        
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="container">

{% include default_header.html %}

{% include navigation.html %}

            <div class="inner cover">
                <div class="post_body">
                    <h3>{{ page.title }}</h3>
                    <br>
                    <span class="glyphicon glyphicon-calendar"></span> <span>{{ page.date | date_to_string }} </span> &nbsp|&nbsp 
                    <span class="glyphicon glyphicon-tags"></span> &nbsp Tags : &nbsp
                            {% for tag in page.tags %} <a href="/blog/tag/#{{ tag | slugify }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;">
                            <span class="label label-primary">{{ tag }}</span></a>  
                                {% if forloop.last != true %} 
                                {% endif %} 
                            {% endfor %}
                    <br><br>
                    {{ content }}
                    <p class="lead"> <br> <br> <br> </p>
                </div>
            </div>
                    
{% include default_footer.html %}

                </div>
            </div>
        </div><!-- /.site-wrapper -->

{% include drawer_script.html %}

    </body>

</html>